<html>
  <head>
    <title>Sample Website P3P</title>
  </head>
  <body>
    {{{body}}}
  </body>
  <footer>
      <script src="js/jquery-3.3.1.min.js"></script>
      <script src="js/index.js"></script>
  </footer>
</html>