<h1>Form v1/h1>

<form id="test-form" action="/form" method="post">
    <p>
        <label> First name: 
            <input name = "name" type = "text" placeholder= "Catherine">
        </label>    
    </p>

    <p>
        <label> Last name: 
            <input name = "name" type = "text" placeholder= "DesOrmeaux">
        </label>    
    </p>

    <p>
        <label> Item Purchased: 
            <input name = "name" type = "text">
        </label>    
    </p>

    <p>
        <label> Credit card number: 
            <input name = "card" type = "text">
        </label>    
    </p>

    <p>
        <label> Address: 
            <input name = "address" type = "text">
        </label>    
    </p>
      
    <!--Submit button and Reset button -->
    <p>
        <input type = "submit" value = "Submit">
        <input type = "reset" value = "Clear">
    </p>
</form>

<script src="js/form.js"></script>