<h3 id="currentlySelected">{{currentp3p}}</h3>
<form id="newp3pform" action="/" method="post">
    Select a new P3P Document from the dropdown:
    <select id="newp3pfile" name="newp3pfile" >
        {{#each p3pFiles}}
            <option value="{{this}}">{{this}}</option>
        {{/each}}
    </select>
    <br>
    <input type="submit" value="Set new P3P">

        
    <!--Fields-->
    <p>
        <label> First name: 
            <input name = "name" type = "text" placeholder= "Catherine">
        </label>    
    </p>

    <p>
        <label> Last name: 
            <input name = "name" type = "text" placeholder= "DesOrmeaux">
        </label>    
    </p>

    <p>
        <label> Item Purchased: 
            <input name = "name" type = "text">
        </label>    
    </p>

    <p>
        <label> Credit card number: 
            <input name = "card" type = "text">
        </label>    
    </p>

    <p>
        <label> Address: 
            <input name = "address" type = "text">
        </label>    
    </p>
      
    <!--Submit button and Reset button -->
    <p>
        <input type = "submit" value = "Submit">
        <input type = "reset" value = "Clear">
    </p>
</form>
