<h3 id="currentlySelected">{{currentp3p}}</h3>
<form id="newp3pform" action="/" method="post">
    Select a new P3P Document from the dropdown:
    <select id="newp3pfile" name="newp3pfile" >
        {{#each p3pFiles}}
            <option value="{{this}}">{{this}}</option>
        {{/each}}
    </select>
    <br>
    <input type="submit" value="Set new P3P">

        
    <!--Textfield: Name ; can enter as many characters-->
    <p>
        <label> Name: 
            <input name = "name" type = "text" placeholder= "Name">
        </label>    
    </p>
    
    <!--Textfield: e-mail address -->
    <p>
        <label>E-mail:
            <input name = "email" type = "email" placeholder= "abc@uottawa.com">
        </label>
    </p>
      
    <!--Submit button and Reset button -->
    <p>
        <input type = "submit" value = "Submit">
        <input type = "reset" value = "Clear">
    </p>
</form>
